<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>菜单
      
    </mat-toolbar>
    
    <mat-nav-list>

      <mat-expansion-panel *ngFor="let mainMenu of NavMenulist" [expanded]="mainMenu.isOpened">
        <mat-expansion-panel-header>
          <mat-panel-title>
           {{mainMenu.name}}
          </mat-panel-title>
          <!-- <mat-panel-description>
            This is a summary of the content 这个用来解释这个panel的
          </mat-panel-description> -->
        </mat-expansion-panel-header>
      
        <a mat-list-item  *ngFor="let subMenu of mainMenu.subMenuList" [routerLink]="[subMenu.route]">{{subMenu.name}}</a> <!--if start with '/' in a route link like '/Todo-List',it will route to host:port/Todo-list-->
      </mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ERP-Angular-WebApp</span>
      <span class="toolbar-space"></span>
      <span *ngIf=""></span> 
      <!-- matMenuTriggerFor是指向一个叫menu的组件，就是下方的#menu -->
      <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>more_vert</mat-icon></button> 
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="this.authService.IsAuthenticated" (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>登出</span>
        </button>
        <mat-list-item *ngIf="this.authService.IsAuthenticated" (click)="signOut()">登出</mat-list-item>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="route-outlet-container">
      <router-outlet></router-outlet>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
