<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>菜单
      
    </mat-toolbar>
    
    <mat-nav-list>
      <mat-expansion-panel *ngFor="let mainMenu of NavMenulist" [expanded]="mainMenu.isOpened">
        <mat-expansion-panel-header>
          <mat-panel-title>
           {{mainMenu.name}}
          </mat-panel-title>
          <!-- <mat-panel-description>
            This is a summary of the content 这个用来解释这个panel的
          </mat-panel-description> -->
        </mat-expansion-panel-header>
      
        <a mat-list-item  *ngFor="let subMenu of mainMenu.subMenuList" [routerLink]='[subMenu.route]'>{{subMenu.name}}</a>
     
      
      </mat-expansion-panel>
   
     


      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ERP-Angular-WebApp</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="route-outlet-container">
      <!-- 添加路由输出口 -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
