
    <mat-toolbar class="primary">
        <span mat-button>SASS平台</span> 
        <span class="spacer"></span>
        <button *ngIf="!isUserAvailable" mat-button color="primary" title="登录" (click) = "login()">
           <mat-icon>fingerprint</mat-icon>
        </button>
        <button *ngIf="isUserAvailable" mat-button color="primary" title="登出" (click) = "logout()">
            <mat-icon>exit_to_app</mat-icon>
         </button>
    </mat-toolbar>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.xs="column">
        <div *ngFor="let item of homePreview;let i = index" 
        fxFlex="0 0 100%" 
        [ngStyle.gt-sm] ="{'margin.px':6}" 
        [ngStyle] = "{'margin.px': 6 ,'margin-bottom.px': 20}"
        fxFlex.gt-sm="0 0 calc(33% - 12px)">
          
             <!--ngStyle.gt-sm表示给gt-sm状态下的元素作用样式，这里是给margin，单位5px-->
                <mat-card >
                    <mat-card-header>
                        {{item.description | slice:0:100}}  <!--头部或者标题 -->
                    </mat-card-header>
                    <img mat-card-image src="{{item.image}}">
                    
                    <mat-card-content>
                        <p>{{item.description}}</p>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button>了解更多</button>
                    </mat-card-actions>
                  
                </mat-card>   
                
             
                <!-- <mat-tab label="Second"> Content 2 </mat-tab> -->
       
        </div>
    </div>
    
 

<!-- 
<div fxLayout="column">
    //column: Stacking your children veritically

    
        <div fxLayout="row" fxFlex="auto"  fxLayoutAlign="space-between center" fxLayoutGap="2%">
            <div fxFlex="0 0 10" class="branding">
                <h3>Donvv</h3>
            </div>
            // 10是百分比 上面10 下面70 加起来就是80%
            <div fxFlex="0 0 70" class="branding" fxLayoutAlign="space-around center" fxLayoutGap="2%" fxHide.xs>
                <mat-form-field
                class="material-input-full-width"
                >
                    // 使用mat-form-field需要注册MatFormFieldModule,使用matAutoComplete需要注册MatAutocompleteModule
                    <input type="text" matInput placeholder="请选择地区" aria-label="Number" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let city of options">{{city}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="material-input-full-width">
                <input matInput placeholder="检索" value="">
                </mat-form-field>
            </div>

        
            // 关于end和center的文档：https://tburleson-layouts-demos.firebaseapp.com/#/docs
        <div    fxLayout="row"
                fxLayoutAlign="end center"
                fxFlex="0 0 20">
            <button mat-icon-button aria-label="带有搜索图标的按钮">
                <mat-icon class="toolbar-icon">search</mat-icon>
            </button>

            <button mat-icon-button aria-label="通知图标" matBadge="8">
                <mat-icon class="toolbar-icon">notifications</mat-icon>
            </button>

            <button  mat-button color="primary">
                登录
            </button>
        </div>
        </div>
   

</div> -->
